<!-- <button mat-icon-button style="float: right;">  
    <mat-icon>close</mat-icon>
</button> -->

<mat-dialog-content>
  <!-- <h4 class="title">Put user ID</h4> -->

  <!-- <mat-form-field class="example-full-width">
    <mat-label>ID</mat-label>
    <input
      matInput
      [formControl]="myForm.controls.id"
      placeholder="id number"
    />
  </mat-form-field> -->

  <h4 class="title">Select type of item</h4>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [formControl]="myForm.controls.typeItem" (selectionChange)="onTypeChange($event)">
      <mat-option *ngFor="let type of typeItems" [value]="type">
        {{ type }}  
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4 class="text-capitalized">{{ myForm.controls.typeItem.value }}</h4>

  <div [ngSwitch]="myForm.controls.typeItem.value">
    <div *ngSwitchCase="'document'">

      <mat-form-field>
        <mat-label>Document Type</mat-label>
        <mat-select [formControl]="myForm.controls.document.controls.documentType">
          <mat-option *ngFor="let document of documents" [value]="document.id">{{document.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Document Number</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.document.controls.documentNumber" />
      </mat-form-field>

      <mat-slide-toggle class="toggleVerify" [formControl]="myForm.controls.document.controls.verified" color="primary">Verified</mat-slide-toggle>

    </div>

    <div *ngSwitchCase="'phone'">

      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.phone.controls.phoneNumber" />
      </mat-form-field>

    </div>

    <div *ngSwitchCase="'address'">

      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.address.controls.address" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.address.controls.state" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.address.controls.country" />
      </mat-form-field>
    </div>

    <div *ngSwitchCase="'change'">

      <mat-form-field>
        <mat-label>Change Type</mat-label>
        <mat-select [formControl]="myForm.controls.change.controls.title">
          <mat-option *ngFor="let title of change" [value]="title.nombre">{{title.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{myForm.controls.change.controls.title.value}} Before</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.change.controls.before" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{myForm.controls.change.controls.title.value}} After</mat-label>
        <input matInput type="text" [formControl]="myForm.controls.change.controls.after" />
      </mat-form-field>

    </div>

    <div *ngSwitchDefault>Select type of item</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!myForm.valid" (click)="onSubmit()">Save</button>
  <button mat-raised-button matDialogClose color="warn">Cancel</button>
</mat-dialog-actions>
