<div class="principal-conted">
  
    <div class="bread-crumbs">
      <span class="bread-crumbs-icon material-icons-sharp">home</span>
      <span class="bread-crumbs-icon material-icons-sharp">chevron_right</span>
      <span>Customer profile</span>
      <span class="bread-crumbs-icon material-icons-sharp">chevron_right</span>
      <span>Timeline</span>
    </div>
    
    <header>
      <div class="sub-header" >
        <span class="sub-header__icon material-icons-sharp">apps</span>
        <span class="sub-header__icon-profile material-icons-sharp">person<div class="green-circle"></div></span>
        <span class="sub-header__title" >Heather Shaamik Clark Shaamikh</span>
      </div>
      <button (click)="openDialogUser()" class="sub-header__icon-right" mat-icon-button>
        <span class="sub-header__icon-right material-icons-sharp">person_add</span>
      </button>
    </header>
  
  <main class="main">
    
    <div class="main__sub-header">
      <div class="items--left">
        <span class="sub-header__icon material-icons-sharp">arrow_back</span>
        <h2>Timeline</h2>
      </div>
      <div class="items--right">
        <span class="sub-header__filter material-icons-sharp">filter_list</span>
      </div>
    </div>


    <!-- <div class="filters">
      <div class="filter">
        <span>02/02/2020 - 02/06/2020</span>
        <span class="filter__icon material-icons-sharp">cancel</span>
      </div>
      <div class="filter">
        <span>Logo type</span>
        <span class="filter__icon material-icons-sharp">cancel</span>
      </div>
      <div class="filter">
        <span>User group</span>
        <span class="filter__icon material-icons-sharp">cancel</span>
      </div>
      <div class="filter--reset">
        <span>Reset filters</span>
        <span class="filter__icon--reset material-icons-sharp">cancel</span>
      </div>
    </div> -->
    
    <!-- contenido -->
    <app-country-listing class="app-timeline-listing"></app-country-listing>
    <hr>
    <app-timeline-listing class="app-timeline-listing"></app-timeline-listing>
    
  </main>

  </div>
