<ng-container>
  <article class="article-user" *ngFor="let groupDate of dateMap">
    <h3 class="time">{{ groupDate.date | dateFormat }}</h3>

    <ng-container *ngFor="let card of groupDate.data">
      <div class="card">
        <img class="card__img" [src]="card.photoURL" alt="" />
        <div class="card__column">
          <div class="card__usuario">
            <h4>{{ card.username }}, log ID:</h4>
          </div>
          <div class="id-card">
            <span [id]="card.id" class="id-card__number">{{ card.id }}</span>
            <span
              (click)="onCopy(card.id)"
              class="id-card__copy-icon material-icons-sharp"
              >content_copy</span
            >
          </div>
          <div class="schedule">
            <span class="schedule__time">{{ card.time }}</span>
            <span class="schedule__device-icon material-icons-sharp">{{
              card.device_icon
            }}</span>
            <span class="schedule__device">{{ card.device }}</span>
            <span
              class="schedule__flag"
              [ngClass]="'fi fi-' + card.flag"
            ></span>
            <div class="schedule__place">{{ card.localization }}</div>
          </div>
        </div>
        <button class="card__button-more" [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon class="card__icon-more">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button class="mat--button" (click)="openDialogCredential(card.id)" mat-menu-item><mat-icon>add</mat-icon> Add Credential</button>
          <button class="mat--button" (click)="onDeleteCard(card.id)" mat-menu-item><mat-icon >delete</mat-icon>Delete</button>
        </mat-menu>
      </div>

      <ng-container *ngFor="let credentials of card.credential">
        <ng-container [ngSwitch]="credentials.type">
          <ng-container *ngSwitchCase="'change'">
            <div class="credencials">
              <div class="rectangle"></div>
              <span class="credencials__radio-icon material-symbols-outlined">radio_button_checked</span>
              <div class="credencials__info">
                <h3 class="info__title">{{ credentials.title }}</h3>
                <div class="credencials__box">
                  <div class="info__address">
                    <span class="span-tachado">{{ credentials.before }}</span>
                    <span>{{ credentials.after }}</span>
                  </div>
                  <div></div>
                  <div></div>
                  <button (click)="onDeleteCredential(card.id, credentials.credentialID)" class="box__button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'document'">
            <div class="credencials">
              <div class="rectangle"></div>
              <span class="credencials__radio-icon material-symbols-outlined"
                >radio_button_checked</span
              >
              <div class="credencials__info">
                <h3 class="info__title">{{ credentials.title }}</h3>
                <div class="credencials__box">
                  <span class="info__star material-icons-sharp">star</span>
                  <span class="info__place-icon material-icons-sharp">badge</span>
                  <div class="info__address">
                    <span><span [ngClass]="'fi fi-' + card.flag" img class="schedule__flag--inline"></span>
                      {{ credentials.documentType }}
                    </span>
                    <span class="verify-id">{{
                      credentials.documentNumber
                    }}</span>
                    <div *ngIf="credentials.verified" class="verified-logo">
                      Verified
                    </div>
                  </div>
                  <button (click)="onDeleteCredential(card.id, credentials.credentialID)" class="box__button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'phone'">
            <div class="credencials">
              <div class="rectangle"></div>
              <span class="credencials__radio-icon material-symbols-outlined"
                >radio_button_checked</span
              >
              <div class="credencials__info">
                <h3 class="info__title">{{ credentials.title }}</h3>
                <div class="credencials__box">
                  <span class="info__star material-icons-sharp">star</span>
                  <span class="info__place-icon material-icons-sharp"
                    >phone</span
                  >
                  <div class="info__address">
                    <span
                      ><span
                        [ngClass]="'fi fi-' + card.flag"
                        img
                        class="schedule__flag--inline"
                      ></span>
                      {{ credentials.phoneNumber }}</span
                    >
                  </div>
                  <button (click)="onDeleteCredential(card.id, credentials.credentialID)" class="box__button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'address'">
            <div class="credencials">
              <div class="rectangle"></div>
              <span class="credencials__radio-icon material-symbols-outlined"
                >radio_button_checked</span
              >
              <div class="credencials__info">
                <h3 class="info__title">{{ credentials.title }}</h3>
                <div class="credencials__box">
                  <span class="info__star material-icons-sharp">star</span>
                  <span class="info__place-icon material-icons-sharp"
                    >location_on</span
                  >
                  <div class="info__address">
                    <span>{{ credentials.address }}</span>
                    <span
                      >{{ credentials.state }} - {{ credentials.country }}</span
                    >
                  </div>
                  <button (click)="onDeleteCredential(card.id, credentials.credentialID)" class="box__button" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault></ng-container>
        </ng-container>
      </ng-container>
      <h3 class="time"></h3>
    </ng-container>
  </article>
</ng-container>
