<aside>
    <div class="aside__top">
      <img class="top-icons__logo" src="../../assets/images/isotipo.png" alt="logo">
      <span class="aside__icons material-icons-sharp">search</span>
      <span class="aside__icons  material-icons-sharp">add</span>
      <span class="aside__icons  material-icons-sharp">apps</span>
    </div>
    <div class="aside__bottom">
      <span class="aside__icons material-icons-sharp">notifications</span>
      <span class="aside__icons material-icons-sharp">help</span>
      <span class="aside__icons material-icons-sharp">settings</span>
      <img class="aside__profile" src="../../assets/images/profile.PNG" alt="profile-aside">
    </div>
    <button>MatDialog</button>
    <span class="fi fi-pe"></span> <span class="fi fi-pe fis"></span>
</aside>
