
<mat-dialog-content>

  <h4 class="title">New User Data</h4>

  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.username" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Localization</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.localization" placeholder="Ejem: US, Chicago" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.date" placeholder="yyyy-mm-dd" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Time</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.time" placeholder="10:00:00" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Flag</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.flag" placeholder="Ejem: us" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>photoURL</mat-label>
    <input matInput type="text" [formControl]="myUserForm.controls.photoURL" placeholder="URL" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Device</mat-label>
    <mat-select [formControl]="myUserForm.controls.device">
      <mat-option *ngFor="let device of devices" [value]="device.id">{{device.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!myUserForm.valid" (click)="onSubmit()">Save</button>
  <button mat-raised-button matDialogClose color="warn">Cancel</button>
</mat-dialog-actions>
