/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f8fb;
  display: flex !important; /* Usa flexbox para distribuir elementos en la página */
  min-height: 100vh !important;
  font-family: "Hind Siliguri", sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
html,
body {
  height: 100%;
  overflow: auto;
}

.app-root {
  display: grid;
  grid-template-columns: 1fr 20fr;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 1000px) {
  /* Estilos CSS que se aplicarán en pantallas con un ancho igual o menor a 1000px */
  .app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh !important;
  }
}
